<div class="p-4">
  <div class="text-gray-500 font-bold text-center md:pt-10">
    <h2 class="text-4xl">
      カテゴリを選んでね</h2>
  </div>
    <!-- sm時表示 -->
    <div class="block md:hidden">
      <div class="flex items-center justify-center pt-5">
        <div>
          <%= image_tag 'gorilla_for_phone.svg' %>
        </div>
      </div>
      <div class="text-center mb-3">
        今はどんな気分かな？
      </div>
    </div>

    <div class="relative grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 justify-items-center text-center md:h-[75vh] place-content-end">
      <%= link_to category_quote_path("uho_power"), data: { turbo: false }, 
          class: "ring-2 ring-black w-80 rounded-3xl bg-orange-300 p-9 md:hover:bg-amber-500" do %>
        ウホパワーが欲しい
        <%= image_tag 'uho_power.svg', class: 'mx-auto hidden md:block' %>
      <% end %>
      <%= link_to category_quote_path("healing"), data: { turbo: false },
          class:"ring-2 ring-black w-80 rounded-3xl bg-blue-300 p-9 md:hover:bg-blue-400" do %>
        ウホヒーリングが欲しい
        <%= image_tag 'healing.svg', class: 'mx-auto hidden md:block' %>
      <% end %>
      <%= link_to category_quote_path("love"), data: { turbo: false },
        class:"ring-2 ring-black w-80 rounded-3xl bg-red-300 p-9 md:hover:bg-red-400" do %>
        ウホ愛に包まれたい
        <%= image_tag 'love.svg', class: 'mx-auto hidden md:block' %>
      <% end %>
      <%= link_to category_quote_path("yell"), data: { turbo: false },
        class:"ring-2 ring-black w-80 rounded-3xl bg-purple-300 p-9 md:hover:bg-purple-400" do %>
        ウホエールが欲しい
        <%= image_tag 'yell.svg', class: 'mx-auto hidden md:block' %>
      <% end %>

      <!-- md時表示 -->
      <div class="flex items-center justify-center">
        <div class="hidden md:block absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                    今はどんな気分かな？
          <%= image_tag 'gorilla.svg' %>
        </div>
      </div>
    </div>
  </div>
</div>
